<div class="row">
  <div class="container">
    <span *ngFor="let x of data">
      <div class="card cardContainer">
        <div class="card-body">
          <div class="card-title">
            <span class="status" style="float:right" [ngClass]="{'classRed':x.status=='Backlog','classYellow':x.status=='In-progress','classBlue':x.status=='In-test','classGreen':x.status=='Done'}">{{x.status}}</span>
            <span class="cardTitle" style="font-size:1.3em"><b>{{x.title}}</b></span>
          </div>
          <p class="card-text" [innerHtml]="x.description"></p>
          <p class="card-text">Assignd To: {{x.assignedToName}}</p>
          <p class="card-text">By: {{x.by}}</p>
          <p><span class="date">Created On:{{x.createdOn | date:"short"}}</span></p>
          <a [routerLink]="['/view/'+x.issueId]" class="card-link">view</a>
        </div>
      </div>
    </span>
  </div>
</div>